/* General styles */
body {
  font-family: Impact, Charcoal, sans-serif;
  background-color: #2c3e50;
}

h1 {
  color: #f0f0f0;
}

.line-circle {
  position: absolute;
  left: calc(-20% - 20px); /* Adjust for circle size */
  height: 100%;
  width: 2px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.circle {
  position: absolute; /* Add this */
  top: 50%; /* Add this */
  transform: translateY(-50%); /* Add this */
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  z-index: 2;
}

.card {
  position: relative;
  margin: 30px auto;
  margin-left: 30%;
  margin-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #2c3e50;
  border-style: none;
  max-width: 800px;
}

.card-content {
  padding: 40px;
  color: white;
  flex: 1;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #f1f1f1;
  color: #555;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.05),
    10px 10px 20px rgba(0, 0, 0, 0.5);

  /* Center the arrow on small screens */
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.scroll-to-top-button:hover {
  background-color: #555;
  color: #f1f1f1;
}


/* Navigation styles */

@media screen and (max-width: 768px) {
  /* Reduce the width of the navigation links container for smaller screens */
  .nav-links {
    width: 70%;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #2c3e50;
  color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: Impact, Charcoal, sans-serif;
  border-radius: 8px;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
  margin-top: 4%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  margin-right: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #18a2b8;
  transition: all 1s ease-in-out;
}

/* Hero image styles */
.hero {
  position: relative;
  width: 100%;
  height: 80vh;
}

/* Particles.js container */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c3e50;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f0f0f0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 3%;
  border-radius: 10px;
  background-color: #2c3e50;
  user-select: none;
}

/* Graphs styles */
.graphs {
  text-align: center;
}

.graph {
  display: inline-block;
  width: 45%;
  height: 400px;
  background-color: #2c3e50;
  border-radius: 10px;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.05),
    10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  margin-right: 33.33%;
  height: 25px;
  width: 25px;
}

.active>a,
a:hover {
  opacity: 1;
  transition: all 1s;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .3);
  border-radius: 8px;
  padding: 10px;
}

/* Neumorphic styles */
.neumorphic {
  background: #e0e5ec;
  border-radius: 10px;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.05),
    10px 10px 20px rgba(0, 0, 0, 0.5);
  border-style: none;
  padding: 5%;
}

.hover {
  background-color: #e0e0e0;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #b5b5b5,
    -5px -5px 10px #ffffff;
  color: #555555;
  font-size: 16px;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}

.hover:active {
  transform: translate(2px, 2px);
  box-shadow: inset 5px 5px 10px #b5b5b5,
    inset -5px -5px 10px #ffffff;
}

.neumorphic-inset {
  background: #e0e5ec;
  border-radius: 10px;
  font-family: Impact, Charcoal, sans-serif;
}

.selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#stateSelect {
  border: none;
  padding: 5px;
  background-color: #f0f0f0;
  width: 180px;
  height: 30px;
  border-radius: 15px;
  box-shadow:
    inset 6px 6px 10px #d1d1d1,
    inset -6px -6px 10px #ffffff;
}

#stateSelect:focus {
  outline: none;
  box-shadow:
    inset 4px 4px 6px #d1d1d1,
    inset -4px -4px 6px #ffffff;
}

h2 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label,
select,
input,
button {
  margin: 5px;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.graph {
  width: 100%;
  height: 300px;
  margin: 20px;
}

.custom-select {
  position: relative;
  width: 200px;
  user-select: none;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: inset 2px 2px 5px #c8c8c8, inset -3px -3px 7px #ffffff;
}

.arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(45deg);
  margin-left: 8px;
  transition: transform 0.4s ease;
}

.custom-select.open .arrow {
  transform: rotate(225deg);
}

.custom-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f0f0f0;
  border-radius: 5px;
  z-index: 2;
  max-height: 150px;
  /* Adjust the height according to your needs */
  overflow-y: auto;
}

.custom-select.open .custom-select-options {
  display: block;
}

.custom-select-options div {
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.custom-select-options div:last-child {
  border-bottom: none;
}

.custom-select-options div:hover {
  background-color: #efefef;
}